body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

header>div a {
  padding: 20px;
  text-decoration: none;
  color: black;
}

.tech-stack>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech>svg {
  width: 100px;
  height: 100px;
}

.tech {
  padding: 30px;
}

/* #root>div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .work {
  border-bottom: rgb(0, 0, 0) 2px solid
} */

.work>div {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.work a {
  text-decoration: none;
  color: black;
  padding-left: 40px;
}

.landing-page {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fafafa;
}

.landing-page svg {
  padding: 20px 20px 0px 0px;
}

.landing-page a {
  text-decoration: none;
  color: black;
}

.linkedin:hover {
  color: #0a66c2;
}

.github:hover {
  color: #928bbb;
  ;
}

.email:hover,
.link:hover {
  color: #dc7676;
}

.landing-page img {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #6ac95d, black, #eedd44) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

.landing-page img:hover {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, black, #eedd44, #6ac95d) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 51px;
}

.project div:first-child {
  box-shadow: 17px 20px 20px 0px #efefef;
}

.project img {
  box-shadow: 20px 20px 20px 0px #efefef;
  width: 45vw;
}

.project label {
  color: #a5a3a3;
  font-size: 14px;
}

.self {
  display: flex;
}

h1 {
  text-align: center;
}

.progress {
  width: 15vw;
  height: 1.5vh;
  background-color: rgb(193, 193, 193);
  border-radius: 15px;
}

.progress>span {
  height: 1.5vh;
  z-index: 100;
  display: block;
  border-radius: 15px;
}

@keyframes highest {
  from {
    width: 0px;
  }

  to {
    width: 15vw;
  }
}

@keyframes sub-highest {
  from {
    width: 0px;
  }

  to {
    width: 12vw;
  }
}

@keyframes sub-medium {
  from {
    width: 0px;
  }

  to {
    width: 9vw;
  }
}

.highest {
  animation: highest 5s forwards;
}

.sub-highest {
  animation: sub-highest 5s forwards;
}

.sub-medium {
  animation: sub-medium 5s forwards;
}

.red {
  background-color: #dc3545;
}

.dark {
  background-color: #343a40;
}

.blue {
  background-color: #17a2b8;
}

.yellow {
  background-color: #ffc107;
}

.education>div {
  display: flex;
  align-items: center;
  padding-left: 10vw;
}

.education label {
  color: #a5a3a3;
}

.education h3,
.education h4,
.education label {
  margin: 10px;
}

.education {
  width: 100vw;
}
.menu{
  display: none;
}
@keyframes glow {
  from {
    color: black;
  }

  to {
    background: linear-gradient(to right, #f32170, #6ac95d, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

@keyframes glow-hover {
  from {
    color: black;
  }

  to {
    background: linear-gradient(to right, #6ac95d, #cf23cf, #eedd44, #f32170);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.logo {
  font-size: 20px;
  animation: glow 0s forwards;
}

.logo:hover {
  font-size: 20px;
  animation: glow-hover 0s forwards;
}

#typer {
  width: 35vw;
  text-align: left;
  min-height: 44px;
  animation: glow infinite forwards;
}

#typer:hover {
  animation: glow-hover infinite forwards;
}

.Typewriter__cursor {
  padding: 0 !important;
  margin: 0 !important;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

footer>div {
  padding: 10px;
}

footer a {
  padding-left: 20px;
  color: black;
}

.education,
.skills {
  background-color: #fafafa;
}

.skills>h1 {
  margin-top: 0px;
  padding-top: 20px;
}
.hamburger{
  display: none;
}
.x-btn, .hamburger{
  display: none;
}

@media screen and (max-width:1195px) {
  .work .project div {
    font-size: 0.8em;
  }
}

@media screen and (max-width:764px) {
  #root {
    padding: 0px 20px 20px 20px;
  }
}

@media screen and (max-width:764px) {
  header>div>a {
    padding: 0px 10px 10px 0px;
  }

  header {
    justify-content: space-between;
  }

  footer {
    justify-content: center;
  }

  .project {
    flex-direction: column;
    align-items: normal;
  }

  .project>div:last-child {
    display: none;
  }

  h1 {
    text-align: left;
  }
}

@media screen and (max-width:573px) {
  header>div:last-child {
    display: none;
  }
  .menu{
    display: block;
  }
  .hamburger{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10vh;
    background-color: white;
    right: 0;
    width: 95vw;
    min-height: 35vh;
    box-shadow: 0px 8px 20px 0px grey;
  }
  .hamburger>a{
    padding: 20px;
    border-bottom: solid grey 3px;
    width: 70vw;
    text-align: center;
  }

  .landing-page {
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
  }

  #typer {
    width: 80vw;
  }

  .education>div {
    padding-left: 0vw;
  }

  .tech-stack>div {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .tech {
    padding: 0px;
    /* width: 60vw; */
  }

  .progress {
    transform: scale(3);
  }

  footer {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width:345px) {
  .landing-page img {
    width: 100%;
  }
}
